.bg-cover{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.protrud{
    margin-top: -20px;
    margin-bottom: -20px;
}
.clearfix{
    clear: both;
}

.hr.style-one{/*内嵌水平线*/
    width:96%;
    margin:0 auto;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid $primaryLight;
}